# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# compiled output
dist
tmp
out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Firebase
firebase-debug.log

# NX
.nx/cache
.nx/workspace-data
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md

# Next.js
.next
out

# Playwright / E2E Testing
e2e-server.log
test-output

# Playwright
server.log
e2e-server.log

# Env (may have secrets).
.env
.env.*
!.env.test

.gemini/
!.gemini/settings.json

gha-creds-*.json
