rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /users/photos/{userId}/{photoId} {
      // Publicly readable
      allow get;

      // Allow write and delete only by the authenticated user
      allow write: if request.auth != null && request.auth.uid == userId &&
        request.resource.contentType.matches('image/.*') &&

        // See also: apps/main/src/env/env.ts:ENV_MAX_IMAGE_SIZE_BYTES
        // (storage.rules must be hardcoded)
        request.resource.size < 5 * 1024 * 1024;

      allow delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}
